<h1>Product List</h1>
{{#if products.error}}
<h3>No Products Founded</h3>
{{else}}
<div class="container table-responsive py-5"> 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.title}}</td>
      <td>${{this.price}}</td>
      <td><img src="{{this.thumbnail}}" class="img-thumbnail" style="width: 100px;" alt="{{this.title}}"></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
{{/if}}

